:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-clor: #4D5AE5;
    --primary-white-color: #FFFFFF;
    --secondary-color: #F4F4FD;
    --footer-text-color: #E7E9FC;
    --active-btm-color: #404bbf;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    font-size: 16px;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

 @media screen and (min-width:1200px){
    .section{
       padding-top: 120px;
       padding-bottom: 120px;
    }
}
 
.container {
    min-width: 320px;
  
    margin: 0 auto;
    padding: 0 16px;
}

@media  screen and (min-width:768px) {
    .container{
        max-width:768px;
        }
    }

 @media screen and (min-width:1200px) {
    .container{
        max-width:1158px;
        padding: 0 15px;
        }
    }

a {
    text-decoration: none;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

.header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    min-width: 320px;
}

/* logo */

.logo {
    display: inline-block;
    padding: 24px 0;

    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--title-text-color);
}

@media screen and (min-width: 768px) {
    .logo {
        margin-right: 120px;
    }
}

@media screen and (min-width: 1200px) {
    .logo {
        margin-right: 76px;
        padding: 24px 0 27px;
    }
}

.logo span {
    color: var(--accent-clor);
}

.main-nav,
header .container {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
}

@media screen and (min-width: 1200px) {
    .nav-list {
        margin-left: 77px;
    }
}

.nav-list .item:not(:last-child) {
    margin-right: 40px;
}

.nav-list {
    display: none;
}

@media screen and (min-width: 768px) {
    .nav-list {
        display: flex;
    }
}

.nav-link {
    position: relative;
    padding: 24px 0;
    display: block;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
    .nav-link {
        padding: 24px 0 27px;
    }
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-clor);
}

.nav-link.light{
    color:var(--accent-clor)
}

.nav-link.current::after{
content: "";
position: absolute;
left: 0;
bottom: 0;
height: 4px;
background-color: var(--accent-clor);
border-radius: 2px;
width: 100%;
}

.contacts{
    display: none;
}

@media screen and (min-width: 768px) {
    .contacts {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        align-items: center;
    }
}

@media screen and (min-width: 1200px) {
    .contacts {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-top: 0;
    }
}

.contacts > .item:not(:last-child) {
    margin-bottom: 4px;
}

@media screen and (min-width: 1200px) {
    .contacts > .item:not(:last-child) {
        margin-right: 40px;
        margin-bottom: 0;
    }
}

.contact {
    display: block;

    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--primary-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
    .contact {
        padding: 24px 0 27px;

        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

.contact:hover,
.contact:focus {
    color: var(--accent-clor)
}

/* Hero*/
.hero {
    padding: 112px 0;
    max-width: 1440px;
    height: 432px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
     url(../images/mobile/hero-bg-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--title-text-color);
    background-position: center;

    text-align: center;
}

@media screen and (min-width: 768px) {
    .hero {
        height: 436px;
        padding: 112px 0 108px;
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        height: 600px;
        padding: 188px 0;
    }
}

@media screen and (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/mobile/hero-bg-mobile@2x.jpg)
    }
}

@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/tablet/hero-bg-tablet.jpg);
    }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (min-resolution: 192dpi),
screen and (min-width: 768px) and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/tablet/hero-bg-tablet@2x.jpg);
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/desktop/hero-bg-desktop.jpg);
    }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 1200px) and (min-resolution: 192dpi),
screen and (min-width: 1200px) and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/desktop/hero-bg-desktop@2x.jpg);
    }
}

.hero-title {
    max-width: 319px;
    margin: 0 auto 48px;

    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

@media screen and (min-width: 768px) {
    .hero-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        text-transform: none;
    }
}

.btm {
    padding: 16px 32px;
    min-width: 170px;

    font-weight: 600;
    font-size: inherit;
    line-height: 1.18;
    letter-spacing: 0.04em;
    display: inline-block;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    color: var(--primary-white-color);
    background-color: var(--accent-clor);

    cursor: pointer;
    border: none;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btm:hover,
.btm:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.btm:active {
    background-color: var(--active-btm-color);
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits{
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
}
@media screen and (min-width:768px) {
    .benefits{
        text-align: left;
        justify-content: space-between;
    }
}
@media screen and (min-width:1200px){
    .text .benefits {
        display: flex;
     }
    .text .item:not(:last-child) {
        margin-right: 24px;}
}

@media screen and (min-width: 768px) {
    .benefits-item {
        max-width: 356px;
        margin: 0;
    }
}

.benefits-title{
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--title-text-color);
}

@media screen and (min-width:768px){
    .benefits-title{
        text-align: left;
    }
}

@media screen and (min-width:1200px){
    .benefits-title{
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
    }
}

.benefits-text{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

@media screen and (min-width:1200px){
    .benefits-text {
        margin: 0;
        width: 264px;
        font-weight: 400;
        }
}

.section-title {
    margin-bottom: 72px;

    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    text-transform: capitalize;
    color: var(--title-text-color);
}

.affairs{
    padding-top: 0;
    display: none;
}

@media screen and (min-width:1200px){
    .affairs {
       display: block;
        }

    .affairs .list {
        display: flex;
        }

    .affairs .item:not(:last-child) {
            margin-right: 24px;
}
}

.subject {
    background-color: var(--secondary-color);
    padding-bottom: 128px;
    min-width: 320px;
    margin: 0 auto;
}

@media screen and (min-width:768px){
    .subject{
        padding-bottom: 104px;
    }
}

@media screen and (min-width:1200px) {
    .subject {
        padding-bottom: 120px;
    }
}

.subject-list{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    row-gap: 72px;
}

@media screen and (min-width:768px){
    .subject-list{
        row-gap: 64px;
        column-gap: 24px;
    }
}

.team-card {
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 32px;
    max-width: 264px;
}

.text .team-card:not(:last-child) {
    margin-right: 24px;
}

.team-name {
    margin-bottom: 8px;
    padding-top: 32px;

    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--title-text-color);
}

.team-position {
    margin-bottom: 8px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--primary-text-color);
}


.footer {
    background-color: var(--title-text-color);
    padding-top: 96px;
    padding-bottom: 96px;
    min-width: 320px;
}

@media screen and (min-width:1200px) {
    .footer{
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.footer-secondary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .footer-secondary {
        
        flex-direction: row;
        flex-wrap: wrap;

    }
}

@media screen and (min-width: 1200px) {
    .footer-secondary {
        padding: 0;
        flex-wrap: nowrap;
    }
}

.footer-copy {
    width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-text-color)
    }


.footer-title {
    display: block;
    color: var(--primary-white-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .footer-title {
       text-align: left;
    }
}

.footer-logo-copy{
    margin-bottom: 72px;
}

@media screen and (min-width: 768px){
        .footer-logo-copy {
            max-width: 264px;
            margin-right: 24px;
            margin-left: 108px;
        }
    }

@media screen and (min-width: 1200px) {
    .footer-logo-copy{
        margin-right: 120px;
    }
}

.footer-logo {
    display: block;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-align: center;

    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    color: var(--secondary-color)
}

@media screen and (min-width: 768px) {
    .footer-logo {
        text-align: left;
    }
}

.footer-logo span {
    color: var(--accent-clor);
}

.footer-social-link{
    margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
    .footer-social-link{
        margin-right: auto;
    }
}

@media screen and (min-width: 1200px) {
    .footer-social-link {
        margin: 0;
        margin-right: 80px;
    }
}

.footer-form{
    width: 100%;
}

.subscribe-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 16px;
}

@media screen and (min-width:768px) and (max-width: 1199.98px) {
    .subscribe-form {
        justify-content: start;
        margin-left: 108px;
    }
}

@media screen and (min-width: 1200px) {
    .subscribe-form {
        flex-direction: row;
        column-gap: 24px;
        flex-wrap: nowrap;
    }
}
.footer-form-title{
    display: block;
    margin-bottom: 16px;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;

    color: var(--primary-white-color);
}

@media screen and (min-width:768px){
    .footer-form-title{
       text-align: left;
        margin-left: 108px;
    }
}

.user-email-footer{
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.8;

    width: 100%;
    height: 40px; ;

    background-color: transparent;
    color: var(--primary-white-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.user-email-footer::placeholder{
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;

    color: rgba(255, 255, 255, 0.6);
}

.user-email-footer:focus{
    border: 1px solid rgba(255, 255, 255, 0.7);
    outline: transparent;
}

@media screen and (min-width: 768px){
    .user-email-footer {
            width: 264px;
            margin-bottom: 0;
            margin-right: 24px;
    }
} 

.btn-form{
    display: inline-flex;
    padding: 8px 24px;

    align-items: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    color: var(--primary-white-color);
    background-color: var(--accent-clor);
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-form::after{
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../images/iconsend.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 16px;
}

.btn-form:hover,
.btn-form:focus {
    background-color: var(--active-btm-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* Portfolio*/

.portfolio {
    padding-top: 96px;
}

.button {
    padding: 12px 24px;

    font-weight: 600;
    font-size: inherit;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: inline-block;

    color: var(--accent-clor);
    background-color: var(--secondary-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;

    cursor: pointer;
    border: none;
 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);;
    
}

.button:hover,
.button:focus {
    color: var(--footer-text-color);
    background-color: var(--accent-clor);
    box-shadow:0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
     0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button:active {
    background-color: var(--active-btm-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:current {
    background: var(--accent-clor);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.btn-list .item:not(:last-child) {
    margin-right: 24px;
}

.photo-items {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-img{
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img:hover,
.portfolio-img:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.photo-element:not(:nth-child(3n)) {
    margin-right: 24px;
}

.photo-element:not(:nth-last-child(-n + 3)) {
    margin-bottom: 48px;
}

.photo-element {
    display: block;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-element:hover,
.photo-element:focus{
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.name-list {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2em;
    color: var(--title-text-color)
}

.description {
    font-weight: 400;
    line-height: 1.5em;
    color: var(--primary-text-color);
}
   
.description {
 margin-top: 8px;
}

.photo-items a {
    color: var(--primary-text-color)
}

.project-wrapper{
    padding: 32px 0;
    padding-left: 16px;
}

/* icon*/

.text-icon{
    display: none;
}

@media  screen and (min-width:1200px) {
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 8px;
    height: 112px;
    background-color: #F4F4FD;
    }
.text-icon {
    display: block;
    width: 106px;
    height: 60px;
    }
}

.social-link-list-item {
    width: 40px;
    height: 40px;
}

.social-link-icon {
    background-color: var(--accent-clor);
    border-radius: 50%;
    width: 100%;
    height: 100%;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.social-link-icon:hover,
.social-link-icon:focus{
    background-color: var(--active-btm-color);
}

.social-icon {
    fill: var(--secondary-color);
    width: 16px;
    height: 16px;

    display: inline-block;
    align-items: center;
}

.social-link-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 12px;
}

.client-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 16px;
}

@media screen and (min-width:768px){
    .client-list{
        column-gap: 24px;
    }
}

.client-list-item {
    width: 168px;
}

.client-link {
    display: inline-flex;
    width: 100%;
    height: 88px;

    justify-content: center;
    align-items: center;

    border: 1px solid #8e8f99;
    border-radius: 4px;
    fill: #8e8f99;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.client-icon {
    width: 104px;
    height: 56px;
}

.client-icon :hover,
.client-icon :focus {
    fill: var(--accent-clor);
}

.client-link:hover,
.client-link:focus {
    border: 1px solid var(--accent-clor);
    fill: var(--accent-clor);
}

.footer-social-link .social-link-list {
    display: flex;
    gap: 16px;
    margin: 0;

}

.footer-social-link .social-list-item {
    width: 40px;
    height: 40px;
}

.footer-social-link .social-link-icon {
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link .social-icon {
    width: 24px;
    height: 24px;
}

.footer-social-link .social-link-icon:hover,
.footer-social-link .social-link-icon:focus {
    background-color: #31d0aa;
}

.header-icon {
    fill: var(--title-text-color);
}

/* Modal */

.backdrop{
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);

    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 408px;
    min-height: 584px;
    padding: 24px;
    padding-top: 72px;

    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-btn{
    position: absolute;
    top: 24px;
    right: 24px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;

    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus{
    fill: var(--primary-white-color);
    background-color: var(--active-btm-color);
}

.modal-title {
    margin-bottom: 14px;

    text-align: center;
    font-weight: 500;
    line-height: 1.5;

    color: var(--title-text-color);
}

.reg-form{
    display: flex;
    flex-direction: column;
}

.reg-form-field{
    display: block;
    margin-bottom: 8px;
}

.reg-form-field:nth-child(4){
    margin-bottom: 16px;
}

.reg-form-label{
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    
    color: #8e8f99;
}

.reg-form-input{
    padding: 19px 38px;
    font-size: 16px;
    
    color: var(--primary-text-color);
}

.reg-form-input,
.reg-form-comment{
    display: block;
    height: 40px;
    width: 100%;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reg-form-input:focus,
.reg-form-comment:focus{
    border: 1px solid var(--accent-clor);
    outline: transparent;
}

.modal .reg-form-comment{
    display: block;

    height: 120px;
    resize: none;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
}

.reg-form-comment::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.reg-form-group{
    position: relative;
}

.reg-form-icon{
    position: absolute;
   
    top: 10px;
    left: 19px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reg-form-input:focus + .reg-form-icon{
    fill: var(--accent-clor);
}

.reg-form-agreement{
    display: flex;
    
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
    user-select: none;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
        
    color: #757575;
}

.reg-form-checkbox{
    appearance: none;
    
    width: 16px;
    height: 16px;
        
    border: 1.25px solid var(--title-text-color);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reg-form-checkbox:checked{
    background-image: url(../images/photo18.svg);
    background-color: var(--active-btm-color);
    border-color: var(--active-btm-color);
    background-repeat: no-repeat;
    background-position: center;
}

.reg-form-checkbox:checked  ~ .reg-form-btn{
    background-color: var(--primary-white-color);
}

.reg-form-text{
    margin-left: 8px;
}

.reg-form-link{
    color: var(--accent-clor);
    text-decoration: underline;
}

.reg-form-btn{
    display: block;

    width: 169px;
    height: 56px;
    line-height: 1.5;

    padding: 16px 32px;
    margin: 0 auto;
        
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;

    color: var(--primary-white-color);
    background-color: var(--accent-clor);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reg-form:last-child{
    justify-content: center;
}

/* Overlay */

.portfolio-overlay{
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: var(--accent-clor);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img:hover .overlay,
.portfolio-img:focus .overlay {
    transform: translateY(0);
}

.overlay-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
}

/* Mobile-menu */

.menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

@media (max-width: 767.98px) {
    .menu {
        display: none;
    }
}

.menu-container {
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 80px 40px 40px;
    background-color: var(--primary-white-color);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.mobile-menu {
    margin-bottom: auto;
}

.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-menu-link {
    display: block;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.mobile-contacts {
    margin-bottom: 48px;
}

.mobile-contacts-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-contacts-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.mobile-contacts-link.accent {
    font-weight: 500;
    font-size: 8vw;
    line-height: 1.11;
    letter-spacing: normal;
    color: var(--accent-clor);
}

@media screen and (min-width: 420px) {
    .mobile-contacts-link.accent {
        font-size: 36px;
    }
}

.mobile-social {
    display: flex;
    justify-content: space-between;
    
    max-width: 328px;
    gap: 24px;
}

.mobile-socials-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    
    color: var(--primary-white-color);
    background-color: var(--accent-clor);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: var(--title-text-color);

    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.mobile-close-btn {
    position: absolute;
    top: 40px;
    right: 40px;

    width: 24px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-close-btn:hover,
.mobile-close-btn:focus {
    background-color: var(--accent-clor);
    color: var(--primary-white-color);
    border-color: transparent;
}